<div id="white_pane">
	<div class="title_and_controls"><%= pluralize(@followers.count, 'person') %> <%= @followers.count == 1 ? "follows" : "follow" %> you</div>

	<% if @followers %>
		<ul>
			<% @followers.each_with_index do |follower, i| %>
				<li class="following_list_items<%= " follower_list_darker_bg" if i%2 != 0 %>" data-id="<%= follower.id %>">
					
					<div class="float_left">
						<a href="<%= public_url(follower.id) %>">
							<div class="avatar_40 float_left"></div>
						</a>
						
						<div class="float_left" style="margin-left: 12px;">
							<a href="<%= public_url(follower.id) %>">
								<div class="following_username"><%= follower.username %></div>
							</a>

							<!-- IGNORE LINK -->
							<form action="<%= unfollow_url %>" method="post" data-id="<%= follower.id %>" class="list_ignore_link">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<input type="hidden" name="follower_id" value="<%= follower.id %>">
								<input type="hidden" name="back" value="<%= request.url %>">
								<input class="input_to_link ignore_link" type="submit" value="ignore">
							</form>
							
						</div>
					</div>
					

					<div class="float_right">
						<% unless @followings.include?(follower) %>
						
								<!-- FOLLOW BUTTON -->
								<form action="<%= follow_url %>" method="post" style="line-height: 40px" data-id="<%= follower.id %>" class="blue_follow_button">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									<input type="hidden" name="follower_id" value="<%= follower.id %>">
									<input type="hidden" name="back" value="<%= request.url %>">
									<input class="button_follow_blue_big" type="submit" value="Follow">
								</form>
								
						<% end %>
					</div>

				</li>
			<% end %>
		</ul>
	<% end %>
</div>