<h3>Following</h3>

<p>You follow <%= @following.count %> users</p>

<% if @following %>
	<ul>
		<% @following.each do |following| %>
			<li>
				User: <%= following.username %><br>
				
				<% if following.posts.last %>
					Updated <%= time_ago_in_words(following.posts.last.created_at) %> ago<br>
				<% end %>
				
				<form action="unfollow" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="followed_id" value="<%= following.id %>">
					<input type="submit" value="Unfollow">
				</form>
				
			</li>
		<% end %>
	</ul>
<% end %>