<div id="white_pane">
	<div class="title_and_controls">Following <%= pluralize(@following.count, 'blog') %></div>

	<% if @following %>
		<ul>
			<% @following.each_with_index do |following, i| %>
				<li class="following_list_items<%= " follower_list_darker_bg" if i%2 != 0 %>" data-id="<%= following.id %>">
					
					<div class="float_left">
						<a href="<%= public_url(following.id) %>">
							<%= image_tag following.avatar.url(:small), class: "avatar_40 float_left" %>
						</a>
						
						<div class="float_left" style="margin-left: 12px;">
							<a href="<%= public_url(following.id) %>">
								<div class="following_username"><%= following.username %></div>
							</a>
							<% if following.posts.last %>
								<div class="updated_info">
									Updated <%= time_ago_in_words(following.posts.last.created_at) %> ago
								</div>
							<% end %>
						</div>
						
					</div>
					

					<div class="float_right">
							<form action="<%= unfollow_url %>" method="post" style="line-height: 40px" data-id="<%= following.id %>" class="white_list_unfollow_button">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<input type="hidden" name="followed_id" value="<%= following.id %>">
								<input type="hidden" name="back" value="<%= request.url %>">
								<input class="button_unfollow_big" type="submit" value="Unfollow">
							</form>
					</div>

				</li>
			<% end %>
		</ul>
	<% end %>
</div>