<div class="auth_bg">
	
	<div class="center">
	
		<div class="logo"><img src="/assets/white-logo.png"></div>
		
		<form action="<%= signin_url %>" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="user[email]" value="user@example.com">
			<input type="hidden" name="user[password]" value="password">
			<input class="button_demo_login" type="submit" value="Demo Account">
		</form>
		
		<a href="/auth/facebook" class="omniauth_facebook">Sign In with Facebook</a>

		<form action="<%= password_reset_url %>" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		
			<input class="auth_input" type="text" name="user[email]" placeholder="Email"><br>
	
			<% if flash.now[:errors] %>
						<div class="auth_error"><%= flash.now[:errors] %></div>
			<% end %>

			<input class="auth_input auth_action" type="submit" value="Reset Password">
		</form>
	
	</div>

	<a class="auth_input bottom" href="<%= new_user_url %>">Sign up</a>
</div>