<% unless @activs.empty? %>
<div id="white_pane">
	<div class="latest_notes">Latest notes</div>


		<ul>
			<% @activs.each do |activ| %>
				<li>
					
					<div class="activity_time">
						<div class="float_left activity_time_text">
							<%= time_ago_in_words(activ.created_at) %> ago
						</div>
					
						<div class="float_right activity_time_text">
							<%= activ.created_at.to_time.strftime('%A, %B %e ') %>
						</div>
					</div>
					
					<div class="activity_info">
						<a href="<%= public_url(activ.sent_user_id) %>">
							<%= image_tag activ.sent_user.avatar.url(:small), class: "avatar_25 float_left" %>
						</a>
						
						<a href="<%= public_url(activ.sent_user_id) %>">
							<div class="activity_info_text float_left">
								<%= activ.sent_user_id == current_user.id ? activ.sent_title : activ.got_title %>
							</div>
						</a>
					</div>

				</li>
			<% end %>
		</ul>
</div>
<% end %>


<% if @activs.empty? %>
	<div id="full_empty_page_anime">
		<div class="center">
		<div class="center_empty_page">
			<div class="empty_page_house relative"><div class="spinner"></div></div>
		</div>
		<div class="empty_page_shadow"></div>
		<div class="empty_page_text">There is no activity <br>on this page</div>
	</div>
	</div>
<% end %>