<% if @posts %>
	<ul>
		<% @posts.each_with_index do |post, i| %>
			<li class="<%= i==0 ? "first_post" : "post" %>">
				
				<!-- POSTS'S AVATAR -->
				<div class="relative"><div class="post_avatar"><div class="selector_left"></div></div></div>
				
				<!-- POST INFO -->
				<div class="post_username">
					<%= post.user.username %>
				</div>
				<div class="post_title">
					<%= post.title %><br>
				</div>
				
				<div class="post_body">
					<%= post.body %>
				</div>
				
				<div class="post_footer">	
					<div class="float_right">

						<!-- UNLIKE BUTTON -->
						<form action="unlike" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="post_id" value="<%= post.id %>">
							<input type="submit" class="button_unlike" value="">
						</form>
					
					</div>
				</div>
			</li>
		<% end %>
	</ul>
<% end %>