<div id="white_pane">
	<div class="title_and_controls group">
		<div class="profile_settings_title">Profile Settings</div>
		
		<!-- DELETE ACCOUNT BUTTON -->
		<% unless current_user.id == 1 %>
			<form action="<%= user_url(current_user.id) %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="back" value="<%= request.url %>">
				<input class="button_delete_account" type="submit" value="Delete Account">
			</form>
		<% end %>
	</div>

	<form class="profile_settings" action="<%= user_url(current_user.id) %>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="put">
		<input type="hidden" name="back" value="<%= @referer ||= request.referer %>">
	
		<div class="word_divider">Basic Info</div>
		<input type="text" name="user[username]" value="<%= current_user.username %>" placeholder="Username">
		<input type="text" name="user[email]" value="<%= current_user.email %>" placeholder="Email">
		<input type="text" name="user[blog_name]" value="<%= current_user.blog_name %>" placeholder="Blog Name">
		
		<div class="word_divider">Password Reset</div>
		<input type="password" name="user[password]" placeholder="New Password">
		<input type="password" name="user[cpassword]" placeholder="Confirm Password">

		<% if flash.now[:errors] %>
			<% history = [] %>
			<% flash.now[:errors].each do |key, val| %>
				<% unless history.include?(key) %>
					<div class="profile_settings_error" style="float: none"><%= key.capitalize %> <%= val.first %></div>
					<% break %>
					<% history << key %>
				<% end %>
			<% end %>
		<% end %>

		<div style="margin-top: 10px">
			<div class="float_left">
				<input type="submit" value="Save">
			</div>
			<div>
				<a class="float_right new_post_cancel" href="<%= @referer ||= request.referer %>">Cancel</a>
			</div>
		</div>
		<div style="clear:left"></div>
	</form>
	
	<div class="word_divider">Avatar</div>
	<form action="<%= avatarchange_url %>" method="post" enctype="multipart/form-data">
		<input type="file" name="somename" size="chars">
		<input type="submit" value="Upload">
	</form>
	
	<!-- <%= form_for current_user do |f| %>
	  <%= f.file_field :avatar %>
	  <%= f.submit "Upload" %>
	<% end %> -->

</div>