<div id="white_pane">
	<div class="title_and_controls">
		<a class="button_generate" href="<%= findblogs_url %>">Generate random</a>
	</div>

	<% if @blogs %>
		<ul>
			<% @blogs.each_with_index do |blog, i| %>
				<li class="following_list_items<%= " follower_list_darker_bg" if i%2 != 0 %>">
					
					<div class="float_left">
						<a href="<%= public_url(blog.id) %>">
							<div class="avatar_40 float_left"></div>
						</a>
						
						<a href="<%= public_url(blog.id) %>">
							<div class="float_left" style="margin-left: 12px;">
								<div class="following_username fingblogs_username"><%= blog.username %></div>
								<div class="following_username">"<%= blog.blog_name %>"</div>
							</div>
						</a>
					</div>
					

					<div class="float_right">
						<form action="<%= follow_url %>" method="post" style="line-height: 40px">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="back" value="<%= request.url %>">
							<input type="hidden" name="follower_id" value="<%= blog.id %>">
							<input class="button_follow_blue_big" type="submit" value="Follow">
						</form>
					</div>

				</li>
			<% end %>
		</ul>
	<% end %>
</div>