<h3>Dashboard</h3>

<%= button_to 'Sign out', signout_url, method: "delete" %><br>
<a href="<%= new_post_url %>">New Post</a><br>
<a href="<%= posts_url %>">Posts</a><br>
<a href="<%= drafts_url %>">Drafts</a><br>
<a href="<%= activs_url %>">Acitivity</a><br>
<a href="<%= followers_url %>">Followers</a><br>
<a href="<%= following_url %>">Following</a><br>
<a href="<%= likes_url %>">Likes</a><br>