<h3>Dashboard</h3>

<%= button_to 'Sign out', signout_url, method: "delete" %><br>

<hr>
<% if @posts %>
	<ul>
		<% @posts.each do |post| %>
			<li>
				User: <%= post.user.username %><br>
				Title: <%= post.title %><br>
				Body: <%= post.body %><br>
				
				<% if post.user.id != current_user.id %>
						<% if current_user.likes.pluck("post_id").include?(post.id) %>
						<!-- UNLIKE BUTTON -->
						<form action="unlike" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="post_id" value="<%= post.id %>">
							<input type="submit" value="Unlike">
						</form>
					
						<% else %>
						<!-- LIKE BUTTON -->
						<form action="like" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="post_id" value="<%= post.id %>">
							<input type="submit" value="Like">
						</form>
					
						<% end %>
					
					<% else %>
					
					<a href="<%= edit_post_url(post.id) %>">Edit</a>
					<%= button_to 'Delete', post_url(post.id), method: "delete" %>
					
				<% end %>
				
				<hr>
			</li>
		<% end %>
	</ul>
<% end %>

<a href="<%= new_post_url %>">New Post</a><br>
<a href="<%= posts_url %>">Posts</a><br>
<a href="<%= drafts_url %>">Drafts</a><br>
<a href="<%= activs_url %>">Acitivity</a><br>
<a href="<%= followers_url %>">Followers</a><br>
<a href="<%= following_url %>">Following</a><br>
<a href="<%= likes_url %>">Likes</a><br>