<% if @posts %>
	<ul>
		<% @posts.each_with_index do |post, i| %>
			<li class="<%= i==0 ? "first_post" : "post" %>">
				<!-- POST INFO -->
				User: <%= post.user.username %><br>
				Title: <%= post.title %><br>
				Body: <%= post.body %><br>
				
				<% if post.user != current_user %>
						<% if @liked_posts.include?(post.id) %>
						
						<!-- UNLIKE BUTTON -->
						<form action="unlike" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="post_id" value="<%= post.id %>">
							<input type="submit" value="Unlike">
						</form>
					
						<% else %>
						
						<!-- LIKE BUTTON -->
						<form action="like" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="post_id" value="<%= post.id %>">
							<input type="submit" value="Like">
						</form>
					
						<% end %>
					
					<% else %>
					
					<!-- EDIT BUTTON -->
					<a href="<%= edit_post_url(post.id) %>">Edit</a>
					
					<!-- DELETE BUTTON -->
					<%= button_to 'Delete', post_url(post.id), method: "delete" %>
					
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>