<div class="relative"><div class="post_avatar_top"><!-- <img src="assets/avatar_64_me.png"> --></div></div>
<div class="new_post_menu">
	<ul>
		<a href="<%= new_post_url %>">
			<li style="border-left:0; margin-left:6px; opacity:1;">
				<div class="relative"><img src="assets/top_text.png"></div>
				Text
			</li>
		</a>
		
		<li>
			<div class="relative"><img src="assets/top_photo.png"></div>
			Photo
		</li>
		
		<li>
			<div class="relative"><img src="assets/top_quote.png"></div>
			Quote
		</li>
		
		<li>
			<div class="relative"><img src="assets/top_link.png"></div>
			Link
		</li>
		
		<li>
			<div class="relative"><img src="assets/top_chat.png"></div>
			Chat
		</li>
		
		<li>
			<div class="relative"><img src="assets/top_audio.png"></div>
			Audio
		</li>
		
		<li>
			<div class="relative"><img src="assets/top_video.png"></div>
			Video
		</li>
	</ul>
</div>

<% if @posts %>
	<ul>
		<% @posts.each_with_index do |post, i| %>
			<li class="<%= i==0 ? "first_post" : "post" %>">
				
				<!-- POSTS'S AVATAR -->
				<div class="relative"><div class="post_avatar"></div></div>
				
				<!-- POST INFO -->
				<div class="post_username">
					<%= post.user.username %>
				</div>
				<div class="post_title">
					<%= post.title %><br>
				</div>
				
				<div class="post_body">
					<%= post.body %>
				</div>
				
				<div class="post_footer">
					<div class="float_right">
						
						<% if post.user != current_user %>
							<% if @liked_posts.include?(post.id) %>
					
							<!-- UNLIKE BUTTON -->
							<div class="float_left">
								<form action="unlike" method="post">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									<input type="hidden" name="post_id" value="<%= post.id %>">
									<input type="submit" class="button_unlike" value="">
								</form>
							</div>
							
							<% else %>
					
							<!-- LIKE BUTTON -->
							<div class="float_left">
								<form action="like" method="post">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									<input type="hidden" name="post_id" value="<%= post.id %>">
									<input type="submit" class="button_like" value="">
								</form>
							</div>
							
							<% end %>

						<% else %>
				
							<!-- EDIT BUTTON -->
							<div class="float_left"><a href="<%= edit_post_url(post.id) %>">Edit</a></div>
				
							<!-- DELETE BUTTON -->
							<div class="float_left">
								<form action="<%= post_url(post.id) %>" method="post">
									<input type="hidden" name="_method" value="delete">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									<button type="submit">Delete</button>
								</form>
								<%#= button_to 'Delete', post_url(post.id), method: "delete" %>
							</div>
						
						<% end %>
					
					
					</div>
				</div>
			</li>
		<% end %>
	</ul>
<% end %>