<% if @posts %>
	<ul>
		<% @posts.each_with_index do |post, i| %>
			<li class="<%= i==0 ? "first_post" : "post" %> full_post_block" data-id="<%= post.id %>">
				
				<!-- POST AVATAR -->
				<div class="relative">
					<a href="<%= public_url(post.user.id) %>">
						<div class="hover_over_content hidden" data-id="<%= post.user.id %>"></div>
						<div class="post_avatar" data-id="<%= post.id %>">
							<%= image_tag post.user.avatar.url(:small) %>
							<div class="selector_left">			
							</div>
						</div>
					</a>
				</div>
				
				<div class="full_post_content" data-id="<%= post.id %>">
				
				<!-- POST INFO -->
				<div class="post_username">
					<a href="<%= public_url(post.user.id) %>"><%= post.user.username %></a>
				</div>
				<div class="post_title">
					<%= post.title %><br>
				</div>
				<div class="post_body">
					<% body = post.body.gsub(/\r\n/, "<br>") %>
					<%= sanitize body, :tags => %w(strong b i br img) %>
				</div>
				
				
				<div class="post_footer">
					<div class="post_footer_flash" data-id="<%= post.id %>"></div>
					<div class="float_right">
						
						<% if post.user != current_user %>
						
							<% if @liked_posts && @liked_posts.include?(post.id) %>
								<% red_heart = "" %>
								<% grey_heart = " hidden" %>
							<% else %>
								<% red_heart = " hidden" %>
								<% grey_heart = "" %>
							<% end %>
								
								<!-- UNLIKE BUTTON -->
								<div class="float_left">
									<form action="<%= unlike_url %>" method="post" data-id="<%= post.id %>" class="red_like_button<%= red_heart %>">
										<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
										<input type="hidden" name="post_id" value="<%= post.id %>">
										<input type="hidden" name="back" value="<%= request.url %>">
										<input type="submit" class="button_unlike" value="">
									</form>
								</div> 								
								
								<!-- LIKE BUTTON -->
								<div class="float_left">
									<form action="<%= like_url %>" method="post" data-id="<%= post.id %>" class="grey_unlike_button<%= grey_heart %>">
										<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
										<input type="hidden" name="post_id" value="<%= post.id %>">
										<input type="hidden" name="back" value="<%= request.url %>">
										<input type="submit" class="button_like" value="">
									</form>
								</div>

						<% else %>
						
							<% if post.draft %>
								<!-- PUBLISH BUTTON -->
								<div class="float_left">
									<a class="button_publish" href="<%= publish_url(post.id) %>" data-id="<%= post.id %>">Publish</a>
								</div>
							<% end %>
						
							<div class="relative">
								<button class="button_options" data-id="<%= post.id %>"></button>
								<div class="options_menu hidden" data-id="<%= post.id %>">
									<div class="selector_top_white"></div>
									
									<!-- EDIT BUTTON -->
									<a class="option_menu_list_item" href="<%= edit_post_url(post.id) %>" data-id="<%= post.id %>">Edit</a>
				
									<!-- DELETE BUTTON -->
									<form action="<%= post_url(post.id) %>" method="post" data-id="<%= post.id %>" data-draft="<%= post.draft %>" class="options_delete_button">
										<input type="hidden" name="_method" value="delete">
										<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
										<input type="hidden" name="back" value="<%= request.url %>">
										<input class="option_menu_list_item" type="submit" value="Delete">
									</form>
									
								</div>
							</div>
						
						<% end %>
					
					
					</div>
				</div>
				
				</div>
				
			</li>
		<% end %>
	</ul>
		
<% end %>

