<div class="relative"><div class="post_my_avatar" style="top: 1px"><div class="selector_left"></div></div></div>

<div class="new_post_container">
	
	<div class="new_post_top_info"><%= current_user.username %></div>

	<form class="new_post_form" action="<%= post_url(@post.id) %>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="put">
		<input type="hidden" name="back" value="<%= @referer ||= request.referer %>">
	
		<input type="text" name="post[title]" value="<%= @post.title %>" placeholder="Title">
		
		<div class="html_tags_bar">
			<div class="tags_bar_el tag_bold"></div>
			<div class="tags_bar_el tag_italic"></div>
			<div class="tags_bar_el tag_link"></div>
		</div>
	
		<textarea name="post[body]" placeholder="Body"><%= @post.body %></textarea>
	
		<div style="height: 30px">
			<div class="new_post_form_checkbox">
				<input type="checkbox" name="post[draft]" value="true" <%= "checked" if @post.draft %>>
			</div>
			<div class="word_draft_center">Draft</div>

			<% if flash.now[:errors] %>
				<% history = [] %>
				<% flash.now[:errors].each do |key, val| %>
					<% unless history.include?(key) %>
						<div class="new_post_error"><%= key.capitalize %> <%= val.first %></div>
						<% break %>
						<% history << key %>
					<% end %>
				<% end %>
			<% end %>
			<div class="clearfix"></div>
		</div>

		<div>
			<div class="float_left">
				<input type="submit" value="Save">
			</div>
			<div>
				<a class="float_right new_post_cancel" href="<%= @referer ||= request.referer %>">Cancel</a>
			</div>
		</div>
		
	</form>

</div>