<h3>Posts</h3>

<% if @posts %>
	<ul>
	<% @posts.each do |post| %>
		<li>
			User: <%= current_user.username %><br>
			Title: <%= post.title %><br>
			Body: <%= post.body %><br>
			<a href="<%= edit_post_url(post.id) %>">Edit</a>
			<%= button_to 'Delete', post_url(post.id), method: "delete" %>
		</li>
	<% end %>
	</ul>
<% end %>