<!DOCTYPE html>
<html>
<head>
  <title>Tumblr Clone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<%#= flash[:main] %>
	<div id="header">
		<a href="<%= root_url %>">
			<img id="logo" src="/assets/white-logo.png" width="187px" height="40px">
		</a>
			
		<div id="user_tools">
			<nav>
				<ul>
					<li>
						<a href="<%= root_url %>">
							<div class="selector_top"></div>
							<img src="/assets/nav_dashboard.png">
						</a>
					</li>
					
					<li class="low_opacity">
						<!-- <a href="#"> -->
							<img src="/assets/nav_messages.png">
						<!-- </a> -->
					</li>
					
					<li class="low_opacity">
						<!-- <a href="#"> -->
							<img src="/assets/nav_faq.png">
						<!-- </a> -->
					</li>
					
					<li class="low_opacity">
						<!-- <a href="#"> -->
							<img src="/assets/nav_settings.png">
						<!-- </a> -->
					</li>
					
					<li>
						<a href="<%= signout_url %>">
							<img src="/assets/nav_signout.png">
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
	<div id="content">
		
		<div class="menu">
			<!-- Blog name and user name -->
			
			<div id="user_blog_info">
				<div id="blog_name_top"><%= current_user.blog_name %></div>
				<div id="username_top"><%= current_user.username %></div>
			</div>
			
			
			<!-- NAVIGATION -->
			<ul>
				<li>
					<% if request.path == "/posts" %>
					<a href="<%= posts_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= posts_url %>">
					<% end %>
						<img src="/assets/sidebar_posts.png"></img>Posts
					</a>
				</li>
				
				<li>
					<% if request.path == "/followers" %>
					<a href="<%= followers_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= followers_url %>">
					<% end %>
						<img src="/assets/sidebar_followers.png"></img>Followers
					</a>
				</li>
				
				<li>
					<% if request.path == "/activs" %>
					<a href="<%= activs_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= activs_url %>">
					<% end %>
						<img src="/assets/sidebar_activity.png"></img>Acitivity
					</a>
				</li>
				
				<li>
					<% if request.path == "/drafts" %>
					<a href="<%= drafts_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= drafts_url %>">
					<% end %>
						<img src="/assets/sidebar_drafts.png"></img>Drafts
					</a>
				</li>
			</ul>
			
			<div class="menu_divider">Account</div>
			<ul>
				<li>
					<% if request.path == "/likes" %>
					<a href="<%= likes_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= likes_url %>">
					<% end %>
						<img src="/assets/sidebar_liked.png"></img>Likes
					</a>
				</li>
				
				<li>
					<% if request.path == "/following" %>
					<a href="<%= following_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= following_url %>">
					<% end %>
						<img src="/assets/sidebar_following.png"></img>Following
					</a>
				</li>
				
				<li>
					<% if request.path == "/findblogs" %>
					<a href="<%= findblogs_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= findblogs_url %>">
					<% end %>
						<img src="/assets/sidebar_findblogs.png"></img>Find blogs
					</a>
				</li>
			</ul>
			
			
			<!-- <a class="menu" href="<%= new_post_url %>">New Post</a><br> -->

			<div class="menu_divider">Recommended blogs</div>

			<ul>
			<% @recommended.each do |user| %>
				<li class="menu_has_follow_button">
					
					<div class="recommended_avatar"></div>
					
					<!-- BLOG INFO -->
					<div class="recommended_blogs">
						<%= user.username %><br>
						<%= user.blog_name %>
					</div>

					<!-- FOLLOW BUTTON " + " -->
					<form class="follow_button" action="follow" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="follower_id" value="<%= user.id %>">
						<!-- <input type="submit" value="Follow"> -->
						<button type="submit">+</button>
					</form>
					
					<div class="clearfix"></div>
				</li>
			<% end %>
			</ul>
		</div>
		
		<div id="left_column">
			
			<% found = false %>
			<% %w[/posts /posts/ /drafts /likes /dashboard /public].each do |route| %>
				<% found = true if (request.path).include?(route) %>
			<% end %>
			
			<% if found %>
			<div id="posts">
				<%= yield %>
			</div>
			<% else %>
				<%= yield %>
			<% end %>

		</div>
		
		<div class="clearfix"></div>
	</div>
</div>

<script>
	$( document ).ready(function() {		
		$('.button_options').on('click', function() {
			$(this).next('.options_menu').toggleClass('hidden');
		});
	});
</script>

</body>
</html>