<!DOCTYPE html>
<html>
<head>
  <title>Tumblr Clone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<%#= flash[:main] %>
	<div id="header">
		<a href="<%= root_url %>">
			<img id="logo" src="/assets/white-logo.png" width="187px" height="40px">
		</a>
			
		<div id="user_tools">
			<nav>
				<ul>
					<li>
						<a href="<%= root_url %>">
							<img src="/assets/nav_dashboard.png">
						</a>
					</li>
					
					<li class="low_opacity">
						<!-- <a href="#"> -->
							<img src="/assets/nav_messages.png">
						<!-- </a> -->
					</li>
					
					<li class="low_opacity">
						<!-- <a href="#"> -->
							<img src="/assets/nav_faq.png">
						<!-- </a> -->
					</li>
					
					<li class="low_opacity">
						<!-- <a href="#"> -->
							<img src="/assets/nav_settings.png">
						<!-- </a> -->
					</li>
					
					<li>
						<a href="<%= signout_url %>">
							<img src="/assets/nav_signout.png">
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
	<div id="content">
		
		<div id="left_column">
			<%= yield %>
		</div>
		
	</div>
</div>

</body>
</html>
