<!DOCTYPE html>
<html>
<head>
  <title>Tumblr Clone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if flash[:main] %>
	<div class="flash_messages hidden">
		<%= flash[:main] %>
	</div>
<% end %>

<div class="dark-layer hidden"></div>

<div id="container">
	<div id="header">
		<a href="<%= root_url %>">
			<img id="logo" src="/assets/white-logo.png" width="187px" height="40px">
		</a>
			
		<div id="user_tools">
			<nav>
				<ul>
					<li>
						<a href="<%= root_url %>">
							<% if !%w[/settings].include?(request.path) %>
								<div class="selector_top"></div>
							<% end %>
							<img src="/assets/nav_dashboard.png">
						</a>
					</li>
					
					<li class="low_opacity">
						<!-- <a href="#"> -->
							<img src="/assets/nav_messages.png">
						<!-- </a> -->
					</li>
					
					<li class="low_opacity">
						<!-- <a href="#"> -->
							<img src="/assets/nav_faq.png">
						<!-- </a> -->
					</li>
					
					<li>
						<a href="<%= settings_url %>">
							<% if request.path == "/settings" %>
								<div class="selector_top"></div>
							<% end %>
							<img src="/assets/nav_settings.png">
						</a>
					</li>
					
					<li>
						<a href="<%= signout_url %>">
							<img src="/assets/nav_signout.png">
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
	<div id="content">
		
		<div class="menu">
			<!-- Blog name and user name -->
			
			<div id="user_blog_info">
				<div id="blog_name_top"><%= current_user.blog_name %></div>
				<div id="username_top"><%= current_user.username %></div>
			</div>
			
			
			<!-- NAVIGATION -->
			<ul>
				<li>
					<% if request.path == "/posts" %>
					<a href="<%= posts_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= posts_url %>">
					<% end %>
						<img src="/assets/sidebar_posts.png"></img><span>Posts</span>
						<span class="float_right" id="menu_posts_number"><%= @count_posts %></span>
					</a>
				</li>
				
				<li>
					<% if request.path == "/followers" %>
					<a href="<%= followers_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= followers_url %>">
					<% end %>
						<img src="/assets/sidebar_followers.png"></img><span>Followers</span>
						<span class="float_right" id="menu_followers_number"><%= @count_followers %></span>
					</a>
				</li>
				
				<li>
					<% if request.path == "/activs" %>
					<a href="<%= activs_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= activs_url %>">
					<% end %>
						<img src="/assets/sidebar_activity.png"></img><span>Acitivity</span>
						<span class="float_right"><%= @count_activs %></span>
					</a>
				</li>
				
				<li>
					<% if request.path == "/drafts" %>
					<a href="<%= drafts_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= drafts_url %>">
					<% end %>
						<img src="/assets/sidebar_drafts.png"></img><span>Drafts</span>
						<span class="float_right" id="menu_drafts_number"><%= @count_drafts %></span>
					</a>
				</li>
			</ul>
			
			<div class="menu_divider">Account</div>
			<ul>
				<li>
					<% if request.path == "/likes" %>
					<a href="<%= likes_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= likes_url %>">
					<% end %>
						<img src="/assets/sidebar_liked.png"></img><span id="menu_liked_text">Liked <%= pluralize(@count_likes, 'post') %></span>
					</a>
				</li>
				
				<li>
					<% if request.path == "/following" %>
					<a href="<%= following_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= following_url %>">
					<% end %>
						<div class="menu_pointer"></div>
						<img src="/assets/sidebar_following.png"></img><span id="menu_following_text">Following <%= pluralize(@count_following, 'blog') %></span>
					</a>
				</li>
				
				<li>
					<% if request.path == "/findblogs" %>
					<a href="<%= findblogs_url %>" style="background-color:#2F4B66; opacity:1;">
					<% else %>
					<a href="<%= findblogs_url %>">
					<% end %>
						<div class="menu_pointer"></div>
						<img src="/assets/sidebar_findblogs.png"></img><span>Find blogs</span>
					</a>
				</li>
			</ul>
			
			
			<!-- <a class="menu" href="<%= new_post_url %>">New Post</a><br> -->

			<div class="menu_divider">Recommended blogs</div>

			<ul>
			<% @recommended.each do |user| %>
				<li class="menu_has_follow_button" data-id="<%= user.id %>">
					
					<a style="padding: 0; opacity: 1" href="<%= public_url(user.id) %>">
						<div class="recommended_avatar"></div>
					</a>
					
					<!-- BLOG INFO -->
					<a style="opacity: 1" href="<%= public_url(user.id) %>">
						<div class="recommended_blogs">
							<%= user.username %><br>
							<%= user.blog_name %>
						</div>
					</a>

					<!-- FOLLOW BUTTON " + " -->
					<form class="follow_button" action="<%= follow_url %>" method="post" data-id="<%= user.id %>">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="back" value="<%= request.url %>">
						<input type="hidden" name="follower_id" value="<%= user.id %>">
						<!-- <input type="submit" value="Follow"> -->
						<button type="submit">+</button>
					</form>
					
					<div class="clearfix"></div>
				</li>
			<% end %>
			</ul>
		</div>
		
		<div id="left_column">
			
			<% found = false %>
			<% %w[/posts /posts/ /drafts /likes /dashboard /public].each do |route| %>
				<% found = true if (request.path).include?(route) %>
			<% end %>
			
			<% if found %>
			<div id="posts">
				<%= yield %>
			</div>
			<% else %>
				<%= yield %>
			<% end %>

		</div>
		
		<div class="clearfix"></div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		
		// OPTIONS BUTTON
		$(".button_options").on("click", function() {
			$(this).next('.options_menu').toggleClass('hidden');
		});
		
		// TOP FLASH MESSAGES
		$(".flash_messages").fadeIn(100).delay(2000).fadeOut(1000);
		
		// RED HEART BUTTON
		$("form.red_like_button").on("submit", function(event) {
	    event.preventDefault();
	    var $form = $(this);
			var form_id = $form.attr("data-id")
	    $.ajax({
	      url: $form.attr("action"),
	      type: "POST",
	      data: $form.serialize(),
	      success: function(data) {
	        $form.toggleClass('hidden');
					$('form.grey_unlike_button[data-id=' + form_id + ']').toggleClass('hidden');
					$('#container').prepend('<div class="flash_messages hidden"></div>');
					$('.flash_messages').html(data);
					$('.flash_messages').fadeIn(100).delay(1000).fadeOut(1000);
					
					$('.post_footer_flash[data-id=' + form_id + ']').css('color','#7A7A7A');
					$('.post_footer_flash[data-id=' + form_id + ']').html('Unliked this post')
																													.fadeIn(100).delay(1000).fadeOut(1000);
																													
					var likes_number = parseInt($('#menu_liked_text').html().match(/\d+/)[0]) - 1;
					$("#menu_liked_text").text(function () {
				    var text = $(this).text().replace(/\d+/, likes_number);

						(likes_number == 1) ? (text = text.replace("posts", "post")) : (text = text.replace(/post$/, "posts"));
						
						return text;
					});
	      }
	    })
		});
		
		// GREY HEART BUTTON
		$("form.grey_unlike_button").on("submit", function(event) {
	    event.preventDefault();
	    var $form = $(this);
			var form_id = $form.attr("data-id")
	    $.ajax({
	      url: $form.attr("action"),
	      type: "POST",
	      data: $form.serialize(),
	      success: function(data) {
	        $form.toggleClass('hidden');
					$('form.red_like_button[data-id=' + form_id + ']').toggleClass('hidden');
					$('#container').prepend('<div class="flash_messages hidden"></div>');
					$('.flash_messages').html(data);
					$('.flash_messages').fadeIn(100).delay(1000).fadeOut(1000);
					
					$('.post_footer_flash[data-id=' + form_id + ']').css('color','#D22929');
					$('.post_footer_flash[data-id=' + form_id + ']').html('Liked this post')
																													.fadeIn(100).delay(1000).fadeOut(1000);
																													
					var likes_number = parseInt($('#menu_liked_text').html().match(/\d+/)[0]) + 1;
					$("#menu_liked_text").text(function () {
				    var text = $(this).text().replace(/\d+/, likes_number);

						(likes_number == 1) ? (text = text.replace("posts", "post")) : (text = text.replace(/post$/, "posts"));

						return text
					});
					
	      }
	    })
		});
		
		// DELETE BUTTON
		$("form.options_delete_button").on("submit", function(event) {
	    event.preventDefault();
	    var $form = $(this);
			var form_id = $form.attr("data-id");
			var if_draft = $form.attr("data-draft");
	    $.ajax({
	      url: $form.attr("action"),
	      type: "DELETE",
	      data: $form.serialize(),
	      success: function(data) {
					$('.options_menu[data-id=' + form_id + ']').toggleClass('hidden');
					$('#container').prepend('<div class="flash_messages hidden"></div>');
					$('.flash_messages').html(data);
					$('.flash_messages').fadeIn(100).delay(1000).fadeOut(1000);
					
					$('li[data-id=' + form_id + ']').animate({opacity: 0}, 500, "linear");
					$('li[data-id=' + form_id + ']').slideUp(100, "linear");
					
					if (if_draft == "true") {
						var drafts_number = $('#menu_drafts_number').html();
						$('#menu_drafts_number').html(drafts_number - 1);
					} else if (if_draft == "false") {
						var posts_number = $('#menu_posts_number').html();
						$('#menu_posts_number').html(posts_number - 1);
					}
					
	      }
	    })
		});
		
		// PUBLISH BUTTON
		$("a.button_publish").on("click", function(event) {
	    event.preventDefault();
			var form_id = $(event.target).attr("data-id");
	    $.ajax({
	      url: $(event.target).attr("href"),
	      success: function(data) {
					$('#container').prepend('<div class="flash_messages hidden"></div>');
					$('.flash_messages').html("Your post has been published");
					$('.flash_messages').fadeIn(100).delay(1000).fadeOut(1000);
					
					$('li[data-id=' + form_id + ']').animate({opacity: 0}, 500, "linear");
					$('li[data-id=' + form_id + ']').slideUp(500, "linear");
					
					var drafts_number = $('#menu_drafts_number').html();
					$('#menu_drafts_number').html(drafts_number - 1);
	      }
	    })
		});
		
		// NEW POST BUTTON & CANCEL BUTTON
		var newpost = function() {
			
	    event.preventDefault();
			var $original = $('.new_post_menu').html();
		
			$('#posts ul, #header, .menu').animate({opacity: "0.2"})
			$('.dark-layer').fadeIn(300);
			$('.new_post_menu').css('position', 'relative');
			$('.new_post_menu, .post_avatar_top').css('z-index', '2');
			$('.new_post_menu ul').fadeOut(100, "linear", function() {
				$('.new_post_menu').animate({height: "310px"}, 100, "linear", function() {
					$('#insert_here_new_form').load("/posts/new .new_post_container", function() {
						
						// NEW FORM VALIDATE INPUT
						(function() {
							var on = function() {
								$('form.new_post_form').off();
								$('input[type="submit"]').css({color: '#fff', cursor: 'pointer'});
							};
						
							var off = function() {
								$('input[type="submit"]').css({color: '#A6CEE6', cursor: 'default'});
								$('form.new_post_form').on("submit", function() { event.preventDefault(); });							
							};
						
							off();

							$('input[name="post[title]"]').keyup(function() {
								var title = $(this).val();
								$('textarea[name="post[body]"]').keyup(function() {
									if (title.length > 0 && 
											title.length <= 45 &&
											$(this).val().length > 0) { on(); } else { off(); }
								});
							});

							$('textarea[name="post[body]"]').keyup(function() {
								var body = $(this).val();
								$('input[name="post[title]').keyup(function() {
									if (body.length > 0 &&
										  $(this).val().length > 0 &&
										  $(this).val().length <= 45) { on(); } else { off(); }
								});
							});
						})();

						// NEW POST CANCEL BUTTON
						$(".new_post_cancel").on("click", function(event) {
					    event.preventDefault();
							$('.new_post_container').fadeOut(500, function() {
								$('.new_post_menu').animate({height: "99px"}, 200, "linear", function() {
									$('.new_post_menu').html($original);
									$('.new_post_menu ul').fadeIn(200);
									$('.dark-layer').fadeOut(200);
									$('#posts ul, #header, .menu').animate({opacity: "1"}, 200);
									
									$("#new_post_text_form").on("click", newpost );
								});
							});
						});
					
					});					
				});
			});
			
		};
		$("#new_post_text_form").on("click", newpost);
		
		// FOLLOW BUTTON
		$("form.blue_follow_button, form.follow_button").on("submit", function(event) {
	    event.preventDefault();
	    var $form = $(this);
			var form_id = $form.attr("data-id");
	    $.ajax({
	      url: $form.attr("action"),
	      type: "POST",
	      data: $form.serialize(),
	      success: function(data) {
	        $form.fadeOut(300);
					$('form.blue_follow_button[data-id="' + form_id + '"]').fadeOut(300);
					$('.menu_has_follow_button[data-id="' + form_id + '"]').fadeOut(300);
					$('#container').prepend('<div class="flash_messages hidden"></div>');
					$('.flash_messages').html(data);
					$('.flash_messages').fadeIn(100).delay(1000).fadeOut(1000);
																													
					var following_num = parseInt($('#menu_following_text').html().match(/\d+/)[0]) + 1;
					$("#menu_following_text").text(function () {
				    var text = $(this).text().replace(/\d+/, following_num);
					
						(following_num == 1) ? (text = text.replace("blogs", "blog")) : (text = text.replace(/blog$/, "blogs"));
					
						return text;
					});
					
	      }
	    })
		});
		
		// UNFOLLOW BUTTON
		$("form.white_list_unfollow_button").on("submit", function(event) {
	    event.preventDefault();
	    var $form = $(this);
			var form_id = $form.attr("data-id");
	    $.ajax({
	      url: $form.attr("action"),
	      type: "POST",
	      data: $form.serialize(),
	      success: function(data) {
					$('.following_list_items[data-id="' + form_id + '"]').fadeOut(300);
					$('#container').prepend('<div class="flash_messages hidden"></div>');
					$('.flash_messages').html(data);
					$('.flash_messages').fadeIn(100).delay(1000).fadeOut(1000);

					var following_num = parseInt($('#menu_following_text').html().match(/\d+/)[0]) - 1;
					$("#menu_following_text").text(function () {
				    var text = $(this).text().replace(/\d+/, following_num);
						
						if (following_num == 1) {
							text = text.replace("blogs", "blog");
						} else {
							text = text.replace(/blog$/, "blogs");
						}
						
						$(".title_and_controls").text(text);
						return text;
					});
					
	      }
	    })
		});
		
		// IGNORE BUTTON
		$("form.list_ignore_link").on("submit", function(event) {
	    event.preventDefault();
	    var $form = $(this);
			var form_id = $form.attr("data-id");
	    $.ajax({
	      url: $form.attr("action"),
	      type: "POST",
	      data: $form.serialize(),
	      success: function(data) {
					$('.following_list_items[data-id="' + form_id + '"]').fadeOut(300);
					$('#container').prepend('<div class="flash_messages hidden"></div>');
					$('.flash_messages').html("Removed yourself from being followed");
					$('.flash_messages').fadeIn(100).delay(1000).fadeOut(1000);
					
					var follower_num = $('#menu_followers_number').html();
					$('#menu_followers_number').html(follower_num - 1);
					
					var follower_num = parseInt($('.title_and_controls').html().match(/\d+/)[0]) - 1;
					$(".title_and_controls").text(function () {
				    var text = $(this).text().replace(/\d+/, follower_num);
					
						(follower_num == 1) ? (text = text.replace("people", "person")) : (text = text.replace("person", "people"));
						(follower_num == 1) ? (text = text.replace("follow ", "follows ")) : (text = text.replace("follows ", "follow "));
					
						return text;
					});
					
	      }
	    })
		});
		
		// EDIT POST BUTTON & CANCEL BUTTON
		var editpost = function() {
			
	    event.preventDefault();
			var post_id = $(this).attr('data-id');
			$(this).closest('.options_menu[data-id="'+ post_id +'"]').addClass('hidden');
			var $original = $('.full_post_block[data-id="'+ post_id +'"]').html();
			// console.log($original);
		
			// $('#posts ul, #header, .menu').animate({opacity: "0.2"});
			// $('.dark-layer').fadeIn(300);
			// $('.new_post_menu').css('position', 'relative');
			$('.post_avatar[data-id="'+ post_id +'"]').css('z-index', '2');
			$('.full_post_content[data-id="'+ post_id +'"]').animate({opacity: '0'}, function() {
			// 	$('.new_post_menu').animate({height: "310px"}, 100, "linear", function() {
					$('.full_post_content[data-id="'+ post_id +'"]').load("/posts/"+post_id+"/edit .new_post_container", function() {
						$(this).css('opacity', '1');
						
						// NEW FORM VALIDATE INPUT
						// (function() {
						// 	var on = function() {
						// 		$('form.new_post_form').off();
						// 		$('input[type="submit"]').css({color: '#fff', cursor: 'pointer'});
						// 	};
						// 
						// 	var off = function() {
						// 		$('input[type="submit"]').css({color: '#A6CEE6', cursor: 'default'});
						// 		$('form.new_post_form').on("submit", function() { event.preventDefault(); });							
						// 	};
						// 
						// 	off();
						// 
						// 	$('input[name="post[title]"]').keyup(function() {
						// 		var title = $(this).val();
						// 		$('textarea[name="post[body]"]').keyup(function() {
						// 			if (title.length > 0 && 
						// 					title.length <= 45 &&
						// 					$(this).val().length > 0) { on(); } else { off(); }
						// 		});
						// 	});
						// 
						// 	$('textarea[name="post[body]"]').keyup(function() {
						// 		var body = $(this).val();
						// 		$('input[name="post[title]').keyup(function() {
						// 			if (body.length > 0 &&
						// 				  $(this).val().length > 0 &&
						// 				  $(this).val().length <= 45) { on(); } else { off(); }
						// 		});
						// 	});
						// })();

						// NEW POST CANCEL BUTTON
						$(".new_post_cancel").on("click", function(event) {
					    event.preventDefault();
							$('.new_post_container').fadeOut(500, function() {
								// $('.new_post_menu').animate({height: "99px"}, 200, "linear", function() {
									$('.full_post_block[data-id="'+ post_id +'"]').html($original);
								// 	$('.new_post_menu ul').fadeIn(200);
								// 	$('.dark-layer').fadeOut(200);
								// 	$('#posts ul, #header, .menu').animate({opacity: "1"}, 200);
								// 	
									$("a.option_menu_list_item").on("click", editpost);
								// });
							});
						});
					
					});					
			// 	});
			});
			
		};
		$("a.option_menu_list_item").on("click", editpost);
				
	});
</script>

</body>
</html>