<!DOCTYPE html>
<html>
<head>
  <title>Tumblr Clone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= flash[:main] %>

<a href="<%= root_url %>">Dashboard</a>

<%= yield %>

</body>
</html>
